:root {
    --Light-Cyan: hsl(193, 38%, 86%);
    --Neon-Green: hsl(150, 100%, 66%);
    --Grayish-Blue: hsl(217, 19%, 38%);
    --Dark-Grayish-Blue: hsl(217, 19%, 24%);
    --Dark-Blue: hsl(218, 23%, 16%);

}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
   align-items: center;
   display: flex;
   justify-content: center;
   min-height: 100vh;
   padding: 20px;
   place-content: center;
   background-color: var(--Dark-Blue);
   font-family: 'Manrope', sans-serif;
}


.main-box {
    flex-basis: 100%;
    min-height: 40vh;
    max-width: 100rem;
    border-radius: 5%;
    background-color: var(--Dark-Grayish-Blue);
    /* 
    width: 90%;
    height: 50vh;

    position: absolute;
    top: 0%;
    bottom: 0%;
    right: 0%;
    left: 0%;
    margin: auto; */
    
}

.header {
    padding-top: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2.5em;
    letter-spacing: 0.7rem;
    text-transform: uppercase;
    color: var(--Neon-Green);
}

.quote {
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    justify-content: center;
    text-align: center;
    color: var(--Light-Cyan);
    font-size: 5em;
    word-spacing: 0.1em;
    line-height: 1.5em;
    /* width: 100%; */
}

.quote::before {
    content: open-quote;
}

.quote::after {
    content: close-quote;
}

.divider-mobile {
    position: relative;
    display: flex;
    justify-content: center;
    top: 10em;
    right: -8.5em;
    width: 80%;
}

.circle {
    position: absolute;
    left: 43%;
    bottom: 46rem;
    display: flex;
    border-radius: 50%;
    width: 12rem;
    height: 12rem;
    border: 50px solid var(--Neon-Green);
    background-color: var(--Neon-Green);
}

