:root {
    --Light-Cyan: hsl(193, 38%, 86%);
    --Neon-Green: hsl(150, 100%, 66%);
    --Grayish-Blue: hsl(217, 19%, 38%);
    --Dark-Grayish-Blue: hsl(217, 19%, 24%);
    --Dark-Blue: hsl(218, 23%, 16%);

}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
   background-color: var(--Dark-Blue);
   font-family: 'Manrope', sans-serif;
}


#main-box {
    border-radius: 5%;
    width: 90%;
    height: 50vh;

    position: absolute;
    top: 0%;
    bottom: 0%;
    right: 0%;
    left: 0%;
    margin: auto;

   background-color: var(--Dark-Grayish-Blue);
    

   
}

#header {
    padding-top: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-small;
    letter-spacing: 0.2rem;
    color: var(--Neon-Green);
}

.quote {
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    justify-content: center;
    text-align: center;
    color: var(--Light-Cyan);
    font-size: 1.3em;
    word-spacing: 0.1em;
    line-height: 1.5em;
    /* width: 100%; */
}

.quote::before {
    content: open-quote;
}

.quote::after {
    content: close-quote;
}

.divider-mobile {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 3rem;
    /* padding: 1rem 0.8rem 0.8rem 0.8rem; */
    
}

.circle {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    /* top: 1.5rem;
    right: -8.5rem; */
    bottom: -1.5rem;
    border-radius: 50%;
    height: 52px;
    width: 52px;
    border: 10px solid var(--Neon-Green);
    background-color: var(--Neon-Green);
}

.btn {
    position: absolute;
    top: 0.4rem;
    right: 6px;
    height: 20px;
    background-color: var(--Neon-Green);
}

.circle:hover {
    box-shadow: 
        0 0 1px 1px var(--Neon-Green),
        0 0 20px 5px var(--Neon-Green);
}

/* Made a mistake by creating the mobile responsiveness first */
@media (max-width: 1440px) { 
    #main-box {
        position: absolute;
        top: 0%;
        bottom: 0%;
        right: 0%;
        left: 0%;
        margin: auto;
        height: 35vh;
        width: 30%;
        
    }

    .quote {
        font-size: 1.2rem;
        text-align: center;
    }

    .divider-mobile {
       position: absolute;
       margin-left: auto;
       margin-right: auto;
       left: 0;
       right: 0;
    }

    .circle {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        height: 48px;
        width: 48px;
        /* right: 12.5rem; */
        bottom: -1.3rem;
    }

    .btn {
        position: relative;
        height: 18px;
        width: 18px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 0.4rem;
    }

    #header {
        padding-top: 2rem;
        font-size: 0.6rem;
    }
}  
